{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

        <div class="row mt-5">
            <div class="col-sm-3">
            </div>

            <div class="col-sm-6 text-center">
                    <h2 class="mt-0">Entre em contato!</h2>
                    <hr class="divider" />
                    <p class="mb-0">Vamos transformar suas ideias em realidade!</p>
            </div>

            <div class="col-sm-3">
            </div>
        </div>

        <div class="row mt-0">
            <div class="col-sm-3">
            </div>
            
            <div class="col-sm-6">
                <!-- Bloco que exibi mensagens -->
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <h5{% if message.tags %} class="{{ message.tags }} mt-5"{% endif %}>{{ message }}</h5>
                    {% endfor %}
                </div>
                {% endif %}
                <!-- Fim do bloco de mensagens -->
            
                <form method="post" class="mx-5 my-5">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn rounded-circle btn-yellow text-dark wh-100 font_subtitle ">Enviar</button>
                </form>
            </div>
            
            <div class="col-sm-3">
            </div>
        </div>

        <hr class="featurette-divider">

{% endblock %}