{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

        <main>
            <!-- START THE FEATURETTES -->  
            <div class="row featurette mt-5">
                <div class="col-md-2">
                </div>
                <div class="col-md-5 order-md-3">
                    <h1 class="featurette-heading fw-normal lh-1 custom-center text-md-start">Olá!</h1>
                    <h5 class="mt-5 custom-center text-md-start font_subtitle">Meu nome é Adriano👋 | Um pouco sobre mim.... </h5>
                    <p class="custom-center text-md-start font_text">
                        Sou um desenvolvedor de software e empreendedor, apaixonado por tecnologia. Possuo formação em Análise e Desenvolvimento de Sistemas pela FIAP, bem como graduação em Administração de Empresas pela Fecap Atualmente, atuo como desenvolvedor autônomo, dedicando-me a projetos inovadores nas áreas de desenvolvimento web, automação e RPA. Além disso, possuo ampla experiência em outras áreas voltadas a negócios. Convido você a explorar meu portfólio de projetos. Se estiver em busca de uma solução personalizada para impulsionar seu negócio, estou à disposição para ajudar. Não hesite em entrar em contato comigo. Estou ansioso para colaborar com você!
                    </p>
                    <div class="button-container ms-3 me-3 mb-5 d-flex flex-nowrap justify-content-center">
                        <a href="{% url 'index' %}"><button class="btn rounded-circle w-140 h-140 mt-4 me-3 btn-yellow font_subtitle">Sobre</button></a>
                        <a href="{% url 'projeto' %}"><button class="btn rounded-circle w-140 h-140 mt-4 me-3 btn-red font_subtitle text-dark">Projetos</button></a>
                        <a href="{% url 'contato' %}"><button class="btn rounded-circle w-140 h-140 mt-4 me-3 btn-blue font_subtitle text-dark">Contato</button></a>
                    </div>
                </div>
                <div class="col-md-4 order-md-2">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle custom-img-center" width="400" height="400" src="{% static '/assets/images/principal/eu.jpg' %}" alt="">
                </div>
            </div>         
            <hr class="featurette-divider">
            <!-- /END THE FEATURETTES -->
        </main>
        
{% endblock %}