{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
        <div class="row align-items-center">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-5">
                <h1 class="featurette-heading fw-normal lh-1 custom-center text-md-start">Meus Projetos</h1>
                <h5 class="mt-5 custom-center text-md-start font_subtitle">Bem-vindo ao espaço dedicado aos meus projetos!
                </h5>
                <p class="custom-center text-md-start font_text p-2">
                    Abaixo, você encontrará meus projetos, organizados em três categorias: WEB / API, Automações e Mobile. Sinta-se à vontade para clicar no botão e verificar o projeto em funcionamento ou ser redirecionado ao meu GitHub, onde os projetos estarão devidamente documentados. 
                    Sempre que possível, estarei atualizando meus projetos, então não esqueça de retornar ao meu site para verificar as novas atualizações.
                </p>

                <font size="5">
                    <div class="button-container ms-2 me-2 mb-5 p-2 d-flex flex-nowrap justify-content-center">
                        <a href="#web-api"><button class="btn mt-4 me-3 btn-yellow font_subtitle text-dark">Web/API</button></a>
                        <a href="#automacoes"><button class="btn mt-4 me-3 btn-red font_subtitle text-dark">Automações</button></a>
                        <a href="#mobile"><button class="btn mt-4 me-3 btn-blue font_subtitle text-dark">Mobile</button></a>
                    </div>
                </font>
            </div>
            
            <div class="col-sm-4">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image custom-img-center w-100 h-100 img-cover" src="{% static '/assets/images/principal/fullDev.jpg' %}" alt="">
            </div>

        </div>

        <hr class="featurette-divider">
    
        <!-- Seção 1 -->
        <div class="container mt-5 mb-5" id="web-api">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h2 class="featurette-heading fw-normal lh-1 custom-center text-md-start">Web / API</h2>
                    <p class="p-2 font_text">Os projetos WEB geralmente envolvem a criação de sites utilizando tanto tecnologias front-end quanto back-end. Esses projetos podem variar desde sites estáticos simples até aplicações web complexas com bancos de dados e funcionalidades avançadas. Por outro lado, os projetos de API (Interface de Programação de Aplicações) envolvem a criação de endpoints que permitem a comunicação entre diferentes sistemas de software. As APIs são fundamentais para permitir que diferentes aplicações interajam entre si de maneira eficiente e segura.
                    </p>
                </div>
    
                <div class="col-sm-4">
                    <div class="carousel slide" id="carouselWebApi" data-bs-wrap="true" data-bs-ride="carousel">    
                        <!-- itens do carrossel aqui -->
                        <div class="carousel-inner">
                            {% if projetos_web_api %}
                            {% for projeto in projetos_web_api %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="3000">
                                <img src="{% static '/assets/images/projects/webapi/'%}{{ projeto.imagem}}" class="img-fluid" alt="fotoprojeto">
                                <div class="carousel-caption">
                                    <h5 class="">{{ projeto.nome }}</h5>
                                    <a href="{{ projeto.link }}"><button class="btn mt-4 me-3 btn-warning font_subtitle border-dark">CLIQUE AQUI</button></a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </div>
                        <div>
                            <!-- Botões Setas -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselWebApi" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselWebApi" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->
        <hr class="featurette-divider">

        <!-- Seção 2 -->
        <div class="container mt-5 mb-5" id="automacoes">
            <div class="row align-items-center">
                <div class="col-sm-6 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1 custom-center text-md-start">Automações / Scraping</h2>
                    <p class="p-2 font_text">Os projetos de Automação envolvem a criação de scripts ou programas que automatizam tarefas repetitivas, economizando tempo e reduzindo a possibilidade de erros humanos. Essas automações podem variar desde simples scripts de shell até complexos fluxos de trabalho de automação de processos robóticos. Por outro lado, os projetos de Scraping, também conhecidos como Web Scraping, envolvem a extração de dados de sites. Isso é feito através da simulação de interações humanas com a página web ou diretamente analisando o código HTML da página. Esses projetos são fundamentais quando se deseja obter grandes volumes de dados de sites que não possuem uma API pública ou quando a informação desejada só está disponível através da interface do usuário.
                    </p>
                </div>
    
                <div class="col-sm-4 order-md-1">
                    <div class="carousel slide" id="carouselAutomacoes" data-bs-wrap="true" data-bs-ride="carousel">    
                        <!-- itens do carrossel aqui -->
                        <div class="carousel-inner">
                            {% if projetos_automacoes %}
                            {% for projeto in projetos_automacoes %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="3000">
                                <img src="{% static '/assets/images/projects/automacoes/'%}{{ projeto.imagem}}" class="img-fluid" alt="fotoprojeto">
                                <div class="carousel-caption">
                                    <h5 class="">{{ projeto.nome }}</h5>
                                    <a href="{{ projeto.link }}"><button class="btn mt-4 me-3 btn-warning font_subtitle border-dark">CLIQUE AQUI</button></a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </div>
                        <div>
                            <!-- Botões Setas -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutomacoes" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselAutomacoes" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->
        <hr class="featurette-divider">

        <!-- Seção 3 -->
        <div class="container mt-5 mb-5" id="mobile">
            <div class="row align-items-center">
                <div class="col-sm-6 order-md-1">
                    <h2 class="featurette-heading fw-normal lh-1 custom-center text-md-start">Mobile</h2>
                    <p class="p-2 font_text">Os projetos mobile geralmente envolvem a criação de aplicativos para dispositivos móveis utilizando uma variedade de tecnologias e plataformas. Esses projetos podem variar desde aplicativos simples de uma única página até aplicativos complexos com múltiplas funcionalidades e integrações de banco de dados. </p>
                </div>
    
                <div class="col-sm-4 order-md-2">
                    <div class="carousel slide" id="carouselMobile" data-bs-wrap="true" data-bs-ride="carousel">    
                        <!-- itens do carrossel aqui -->
                        <div class="carousel-inner">
                            {% if projetos_mobile %}
                            {% for projeto in projetos_mobile %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="3000">
                                <img src="{% static '/assets/images/projects/mobile/'%}{{ projeto.imagem}}" class="img-fluid" alt="fotoprojeto">
                                <div class="carousel-caption">
                                    <h5 class="">{{ projeto.nome }}</h5>
                                    <a href="{{ projeto.link }}"><button class="btn mt-4 me-3 btn-warning font_subtitle border-dark">CLIQUE AQUI</button></a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </div>
                        <div>
                            <!-- Botões Setas -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMobile" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselMobile" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->
        <hr class="featurette-divider">

        
{% endblock %}

